body{
    background: radial-gradient(rgb(227, 245, 250)50%,rgb(193, 223, 236),rgb(127, 166, 187));
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 1vh;
    color: rgb(9, 60, 86);

}

header{
    margin: 4rem auto 4rem auto;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 0 0 1.5rem rgba(127, 166, 187, 0.781);
}
header p{
    text-align: center;
}

main{
    width: 70%;
    max-width: 50rem;
    background-color: rgba(235, 235, 235, 0.246);
    margin: 4rem auto;
    min-height: 100vh;
    padding: 2rem;
    box-shadow: 0 0 1.5rem rgba(127, 166, 187, 0.781);
    border-radius: 2rem;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

form label{
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    }
    
    form input{
        border: none;
        padding: 0.5rem 0.2rem;
        width: 20rem;
        border-radius: 0.25rem;
    }
    
    button{
        border: none;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
    }

    button:disabled, 
    button:disabled:hover, 
    #delete-all:disabled, 
    #delete-all:disabled:hover{
        background-color:  rgb(138, 136, 139);
        cursor: not-allowed;
    }

    #delete-all{
margin-top: 4rem;
    }
     
/* Alkaa hajota alle 400px leveänä, mutta emme tee nyt asialle mitään */

    
form button{
    background-color: rgb(106, 200, 247);
    color: white;
    }

    form button:hover,
    form button:active{
        background-color:   rgb(68, 148, 188);
    }

    #posts ul{
        padding: 0;
        margin: 0;
    }
    li{
        background-color: rgba(249, 251, 253, 0.746);
    }
    #posts li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 1rem rgba(127, 166, 187, 0.781);
    border-radius: 0.2rem;
    }
 
    #posts span{
        margin-right: 2rem;
    }

    #posts button{
        background-color: rgb(214, 170, 238);
    }
    
    #posts button:hover,
    #posts button:active{
        background-color: rgb(168, 128, 189);
    }

    #posts button:disabled,
    #posts button:disabled:hover {
    background-color: rgb(138, 136, 139);
    cursor: not-allowed;
    }

    .completed span {
        text-decoration: line-through;
        color: gray;
    }
    .completed{
        background-color: rgb(151, 187, 219);
    }
    